/* ===============
import google fonts 
==========================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@500;600;700&display=swap');

/* ================
common style
=================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif; 
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*===============
top banner style
==========================*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 87px 50px;
}

.container {
    max-width: 1188px;
}

.navbar {
    margin-bottom: 30px;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu__togler, #menu__togler {
    display: none;
}

.logo a {
    font-weight: 700;
    font-size: 30px;
    text-transform: capitalize;
    color: #E02C6D;
}
.nav ul {
    display: flex;
    flex-wrap: wrap;
}
.nav ul li {
    list-style: none;
    margin-right: 34px;
}
.nav ul li a {
    color: #0A0826;
    font-weight: 600;
    font-size: 16px;
}
.nav ul li:last-child {
    margin-right: 0;
}

.shoping__cart {
    display: none;
}
.banner {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    column-gap: 131px;
}

.banner__heading {
    font-size: 52px;
    text-transform: capitalize;
    color: #3A3A3A;
    font-weight: 700;
    line-height: 70px;
}

.banner__heading p{
    font-size: 16px;
    color: #3A3A3A;
    font-weight: 600;
    margin-top: 16px;
}

.button__primery {
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 30px;
    display: inline-block;
    transition: .3s;
}

.fa-chevron-right {
    margin-left: 5px;
    transform: translateX(5px);
    transition: .3s;
}
.button__primery:hover .fa-chevron-right{
    transform: translateX(15px);
    transition: .1s;
    
}
.button__primery:hover{
    padding-right: 30px;
    transition: .4s;
    
}

.banner__item img {
   width: 95%;
   transform: translate(10px, -10px);
   padding: 15px;
   transition: .3s;
}

.banner__image:hover img {
    transform: scale(1.1) rotate(15deg);
    transition: .3s;
}

.banner__image {
    background: center url(images/Circle-design.svg) no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===============
logo__area 
=================*/

.logo__area {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.logo__container img {
    margin: 5px 20px;
}

/* ================
popular__collection 
===========================*/

.popular__collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.section__title {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
}

.collection__container {
    max-width: 1070px;
}

.collected__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.single__collection {
    box-shadow: -1px -1px 13px #80808080;
    padding: 15px 15px 30px 15px;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s;
}

.product__image {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.product__image img {
    transition: .3s;
    width: 100%;
    object-fit: cover;
}

.product__title {
    text-transform: capitalize;
    color: #0A0826;
}

.product__price {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin: 7px 0;
    transition: .5s;
}

.product__rating {
    color: orange;
    margin-bottom: 10px;
}

.product__rating .fas{
    margin: 0;
    font-size: 10px;
}

.product__rating span{
    margin: 0;
    color: #000;
    font-size: 16px;
}

.single__collection:hover .product__image img{
    transform: scale(1.2);
    transition: .3s;
}

.single__collection:hover .product__price{
    color: crimson;
    font-weight: bold;
    transition: .5s;
}

.see__more__button {
    display: block;
    text-align: right;
    margin-top: 40px;
    background: transparent;
    color: #e02c6d;
}

.single__collection p {
    font-weight: 500;
}
.single__collection p::first-letter {
    text-transform: capitalize;
}
/* ==============
blog
===================*/

.influencer__blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 50px;
}

.blog__container {
    max-width: 1180px;
}

.blogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}
.blog {
    display: flex;
    flex-direction: column;
}

.blog img {
    border-radius: 20px 20px 0 0;
}

.blog__info {
    background: rgba(2, 7, 82);
    color: rgb(255, 255, 255);
    padding: 20px; 
}

.blog__title {
    font-size: 25px;
    font-family: Inter;
    font-weight: 400;
    line-height: 35px;
}
.blog__info p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}
.blog__info p a {
    color: brown;
}

.blog__info .button__primery {
    margin-top: 28px;
}

/* =============
footer
================= */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #0A0826;
    padding: 46px 0;
}

footer .section__title {
    margin: 0;
}

.social__icons {
    margin-top: 15px;
}
.social__icons .fab, .fas{
    margin: 0 5px;
}
.social__icons a{
    color: #fff;
}


@media screen and (max-width: 992px) {

    header {
        padding: 25px;
    }
    .container {
        width: 100%;
    }
    .menu__togler {
        display: block;
        font-size: 30px;
        color: #302f31;
        cursor: pointer;
    }

    #menu__togler:checked~ .nav{
        /* left: 0;
        top: 80px; */
        transform: translate(-25px, 150px);
        transition: .3s;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav ul li:last-child {
        display: none;
    }
    .nav ul li a {
        color: #fff;
        padding: 5px 0;
        display: block;
        margin-top: 5px;
    }
    .nav ul li:hover a {
        color: rgb(163, 4, 155);
    }

    .nav {
        transform: translate(-25px, -170px);
        position: absolute;
        width: 100%;
        z-index: 1;
        background-color: #0a082681;
        color: #fff;
        padding: 20px 0;
        transition: all .3s;
    }

    .shoping__cart {
        display: block;
        font-size: 20px;
    }
    .shoping__cart a {
        color: rgb(51, 51, 51);
    }


    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner__text {
        margin-top: 60px;
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .banner__item img {
        width: 90%;
     }

    .collected__items {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}
@media screen and (max-width: 645px) {

    .logo a {
        font-size: 20px;
    }
    .collected__items {
        grid-template-columns: 1fr;
    }
    .popular__collection {
        padding: 20px 10px 40px 10px;
    }

    .logo__container img {
        width: 58px;
    }

    .banner__item img {
        width: 75%;
    }

    .influencer__blog {
        padding-left: 10px;
        padding-right: 10px;
    }
}
