/* ===============
import google fonts 
==========================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@500;600;700&display=swap');

/* ================
common style
=================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif; 
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*===============
top banner style
==========================*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 87px 50px;
}

.container {
    max-width: 1188px;
}

.navbar {}

.banner {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    column-gap: 131px;
}

.banner__item {}

.banner__text {}

.banner__heading {
    font-size: 52px;
    text-transform: capitalize;
    color: #3A3A3A;
    font-weight: 700;
    line-height: 70px;
}

.banner__heading p{
    font-size: 16px;
    color: #3A3A3A;
    font-weight: 600;
    margin-top: 16px;
}

.button__primery {
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 30px;
    display: inline-block;
    transition: .3s;
}

.fa-chevron-right {
    margin-left: 5px;
    transform: translateX(5px);
    transition: .3s;
}
.button__primery:hover .fa-chevron-right{
    transform: translateX(15px);
    transition: .1s;
    
}
.button__primery:hover{
    padding-right: 30px;
    transition: .4s;
    
}

.banner__item img {
   width: 100%;
   transform: translate(10px, -10px);
   padding: 15px;
   transition: .3s;
}

.banner__image:hover img {
    transform: scale(1.1) rotate(15deg);
    transition: .3s;
}

.banner__image {
    background: center url(images/Circle-design.svg) no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner__text {
        margin-top: 60px;
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .banner__item img {
        width: 90%;
     }
}
